/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$colors: (
    blue: #1779ba,
    red: #ba4335,
    brown: #c39168,
    purple: #9235ba,
);

@function get-color($key) {

    @if map-has-key($colors, $key) {
      @return map-get($colors, $key);
    }

    @else {
      @error 'given $key is not available in $colors';
    }

}