/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
    font-size: $global-font-size;
    font-size: 18px;
}

// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0;
    padding: 0;

    background: #fff;

    font-family: $body-font-family;
    line-height: $global-lineheight;
    color: $body-font-color;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    // Get rid of gap under images by making them display: inline-block; by default
    display: inline-block;
    vertical-align: middle;

    // Grid defaults to get images and embeds to work properly
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

  // Make sure textarea takes on height automatically
textarea {
    height: auto;
    min-height: 50px;
    border-radius: $global-radius;
}

  // Make select elements are 100% width by default
select {
    box-sizing: border-box;
    width: 100%;
    border-radius: $global-radius;
}

// Prevent text overflow on pre
pre {
    overflow: auto;
}

// Make reset inherit font-family instead of settings sans-serif
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

// Internal classes to show/hide elements in JavaScript
.is-visible {
    display: block !important;
}

.is-hidden {
    display: none !important;
}